@model IQueryable<University1.Models.QuestionVM>

@{
    ViewBag.Title = "Тест";
}

<h2>Тест «@ViewBag.testName»</h2>

@{
    int count = 1, countR = 0;
    Student student = Session["Student"] as Student;
}


<div>
    <div>
        <h3 style="margin-top: 4%;"> <span>Вопросы :</span> </h3>

        @if (Model != null && Model.Any())
        {

            foreach (var question in Model)
            {
                <div style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; padding: 8px;">

                    <div style="padding: 2%;">
                        <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count)</span>
                        <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                        <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QuestionText</p>
                    </div>

                    <div style="margin-left: 8%;">

                        @foreach (var choice in question.Choices)
                        {
                            <label>
                                <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@choice.ChoiceText" style="margin-left: -16px;"> @choice.ChoiceText
                            </label><br />
                            countR++;
                        }

                    </div> <!--END Choices-->

                    <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">
                    </div>
                </div> <!-- END BlockQ -->
                count++;
            }
            <span id="countQuections" style="display:none;">@count</span>
            <button type="button" id="SubmitQuiz" class="btn btn-default" style="margin-top: 10px;">Пройти тест</button>


        }

    </div> <!-- END QUIZ -->

</div> <!-- END CONTAINER -->
@Html.ActionLink("Вернуться к курсам »", "Index", "Records", new { studentId = student.Id, isStudent = true }, new { @class = "btn btn-default" })
<p><a class="btn btn-default" href="~/Home">Вернуться на главную &raquo;</a></p>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#SubmitQuiz').on('click',
                function() {
                    //count Questions
                    var sel = $('#countQuections').text();
                    console.log(sel);
                    var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;
                    for (var i = 1; i < countQuestion; i++) {
                        question = {
                            QuestionID: $('#ID_Q' + i).text(),
                            QuestionText: $('#Q' + i).text(),
                            AnswerQ: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                        }
                        resultQuiz.push(question);
                    }
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("TakeTest", "TakeTest")',
                        data: { resultQuiz },
                        success: function(response) {
                            if (response.result.length > 0) {
                                for (var i = 0; i < response.result.length; i++) {
                                    if (response.result[i].isCorrect == true) {
                                        $('#AnsQ' + j)
                                            .html(
                                                '<div role="alert"><span aria-hidden="true"></span> Верный ответ </div>');
                                    } else {
                                        $('#AnsQ' + j)
                                            .html(
                                                '<div role="alert"> <span aria-hidden="true"></span> Неверный ответ </div>');
                                    }
                                    j++;
                                }
                            } else {
                                alert("Something Wrong");
                            }
                            //console.log(response.result.length);
                        },
                        error: function(response) {
                        }
                    });
                    console.log(resultQuiz);
                })
        });
    </script>

}
